#greenblock { 
  text-align: center;
  font-size: 22pt;
  background: url(/themes/abctoy/css/green.jpg);
  height: 120px;
  box-shadow: inset 0 0 5px;
}
#greenblock div{
  padding-top: 50px;
}

.woodblock{
  background: url(/themes/abctoy/css/wood.png);
}

.land-page-redbutton{
  background: url(/themes/abctoy/css/btn2.png) no-repeat;
  width: 348px;
  height: 67px;
  border-radius: 10px;
  line-height: 67px;
  text-align: center;
  font-size: 16pt;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

.land-page-redbutton:active{
  background: url(/themes/abctoy/css/btn.png) no-repeat;
}

#grayblock{
  background: url(/themes/abctoy/css/shattered.png);
  height: 205px;
  box-shadow: inset 0 0 30px;
  font-size: 12pt;
}

.grayblock-line{
  width: 270px;
  border-top: 1px solid #999;
  border-bottom: 2px solid #EEE; 
  margin: 0 20px;
}
.icon-delivery-medium, .icon-sclad-medium,
.icon-guarantee-medium{
  margin: 20px 20px 0 20px;
}
.icon-payment-medium, .icon-brands-medium,
.icon-5yeasr-medium{
  margin: 0 20px 20px 20px;
}

#tovar{
  background: url(/themes/abctoy/css/tree_bark.png);
  text-align: center;
}

.product{
  min-height: 300px;
  background: white;
  margin: 60px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
  width: 800px;
  text-align: left;
  position: relative;
}
.product-name, .product-price{
  font-size: 18pt;
  margin: 20px 0;
}
.product-price{
  background: url("/themes/abctoy/css/gray1x2.png") repeat-x scroll 0px 14px transparent;
}
.product-img{
  height: 300px;
  width: 400px;
  position: relative;
}
.product-img img{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 250px;
  max-width: 250px
}
.deliver-labe:before{
  content: ' ';
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 70px;
  background: yellowgreen;
  left: 7px;
  top: 7px;
}
.deliver-labe{
  width: 154px;
  height: 154px;
  position: absolute;
  border-radius: 77px;
  background: white;
  left: -50px;
  top: -50px;
  box-shadow: inset 1px 1px 2px;
}
.deliver-txt{
  text-align: center;
  color: white;
  position: absolute;
  left: -30px;
  z-index: 20;
  font-size: 8pt;
}
.addToCart{
  position: absolute;
  right: 10px;
  bottom: 25px;
}

.review-img{
  background: url(/themes/abctoy/css/review.jpg);
  width: 156px;
  height: 155px;
}
.note-img{
  background: url(/themes/abctoy/css/1.jpg) no-repeat;
  width: 21px;
  height: 23px;
  position: relative;
  left: 110px;
  bottom: -2px;
}
.note-txt{
  width: 170px;
  height: 200px;
  border: 1px solid thistle;
  border-radius: 5px;
}
.note-txt p{
  margin: 5px;
}

.triangle{
  background: url(/themes/abctoy/css/triangle.jpg) repeat-x;
  height: 22px;
}