body
{
  margin: 0;
  padding: 0;
  color: #555;
  font: normal 10pt Arial,Helvetica,sans-serif;
}

#page
{
  margin-top: 50px;
  margin-bottom: 5px;
  background: white;
}

#header
{
  margin: 0;
  padding: 0;
  border-top: 3px solid #C9E0ED;
}

#content
{
  padding: 20px;
}

#sidebar
{
  padding: 20px 20px 20px 0;
}

#footer
{
  padding: 10px;
  background: whitesmoke;
}

#logo
{
  padding: 10px 20px;
  font-size: 200%;
}

#topmenu
{
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#topmenu ul li a:hover
{
  text-decoration: underline;
}

#mainmenu ul
{
  background: #3399cc;
}

#mainmenu{
  background: #66ccff;
  height: 2.8em;
}

#mainmenu ul, #topmenu ul
{
  padding:5px 0px 5px;
  margin:0px;
}

#mainmenu ul li, #topmenu ul li
{
  display: inline;
}

#mainmenu ul li a, #topmenu ul li a
{
  color:#ffffff;
  background-color:transparent;
  font-size:12px;
  text-decoration:none;
  padding: 10px;
  line-height: 2;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
  color: #6399cd;
  background-color:#EFF4FA;
  text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
  padding:.8em;
  margin-bottom:1em;
  border:2px solid #ddd;
}

div.flash-error
{
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

div.flash-notice
{
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}

div.flash-success
{
  background:#E6EFC2;
  color:#264409;
  border-color:#C6D880;
}

div.flash-error a
{
  color:#8a1f11;
}

div.flash-notice a
{
  color:#514721;
}

div.flash-success a
{
  color:#264409;
}

div.form .rememberMe label
{
  display: inline;
}

div.view
{
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
  font-size: 0.9em;
  padding: 5px 20px;
}

div.breadcrumbs span
{
  font-weight: bold;
}

div.search-form
{
  padding: 10px;
  margin: 10px 0;
  background: #eee;
}

.align-right
{
  float: right;
  position: relative;
  /*text-align: right;*/
}

.inline
{
  display: inline;
}

.operations
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.operations li
{
  padding-bottom: 2px;
}

.operations li a
{
  font: bold 12px Arial;
  color: #0066A4;
  display: block;
  padding: 2px 0 2px 8px;
  line-height: 15px;
  text-decoration: none;
}

.operations li a:visited
{
  color: #0066A4;
}

.operations li a:hover
{
  background: #80CFFF;
}

.table{
  display: table;
  width: 100%;
}

.table-cell{
  display: table-cell;
}

.footer-menu div{
  height: 2em;
}

.icon-sklad{
  background: url(/themes/abctoy/css/icons.png) no-repeat;
  background-position: -95px 0px;
  width: 95px;
  height: 95px;
  margin: 0 auto;
}

.icon-cart{
  background: url(/themes/abctoy/css/elements.png) no-repeat;
  background-position: -18px -14px;
  background-position-x: -35px; 
  background-size: 40%;
  width: 120px;
  height: 24px;
}

.icon-cart a{
  margin: 0 0 0 60px;
  padding: 10px 0 !important;
}

.icon-search{
  background: url(/themes/abctoy/css/elements.png) no-repeat, whitesmoke;
  background-position: -6px -140px;
  background-position-x: -35px; 
  width: 25px;
  height: 25px;
}

.valign-middle{
  vertical-align: middle;
}

.uderline-dashed{
  text-decoration: underline;
  text-decoration-style: dashed;
  -moz-text-decoration-line: underline;
  -moz-text-decoration-style: dashed;
}

.cufon{

}

.lager{
  font-size: larger;
}

.x-lage{
  font-size: x-large;
}

.blue{
  color: #3399cc;
}

.gray{
  color: #666666;
}

.bold{
  font-weight: bolder;
}
.red{
  color: #cc3333;
}

.green{
  color: #99cc33;
}

.yellow{
  color: #ff9933;
}

.items{
  display: block;
  width: 960px;
  margin: 0 auto;
}

.item{
  padding: 8px;
  display: inline-block;
}
.item > div{
  width: 175px;
  height: 270px;
  border-radius: 5px;
  box-shadow: 0 2px 3px -1px #666666;
  /*text-align: center;*/
}
.item div img{
  /*display: block;*/
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*padding: 15px;*/
  max-height: 120px;
  max-width: 140px;
}

.item-name{
  padding: 0 5px;
  height: 2.5em;
  text-align: center
}
.item-rest{
  text-align: center;
  font-style: italic;
  color: #99cc33;  
}
.item-disc{
  height: 2em;
}
.item-name a{
  font-style: italic;
  font-weight: normal;
  color: #cc3333;
}

.item-price{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  color: #cc3333;
}

.inline-blocks > div{
  display: inline-block;
}

.jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel ul {
  width: 20000em;
  position: relative;

  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
}
.strike{
  background:url(/images/gray1x2.png) repeat-x 0 11px;
}

.redbutton{
  height: 33px;
  width: 168px;
  color: white;
}
.redbutton .center{
  line-height: 33px;
  background: url(/images/buttons.png) repeat-x;
  background-position: 0 -33px;
  padding: 0 40px;
  height: 33px;
}

.redbutton .left{
  background: url(/images/buttons.png) no-repeat;
  /*background-position: 0 -33px;*/
  /*background-position-x: 0px;*/ 
  width: 8px;
  height: 33px;
}
.redbutton .right{
  background: url(/images/buttons.png) no-repeat;
  background-position: 0 -66px;
  /*background-position-x: 0px;*/ 
  width: 8px;
  height: 33px;
}
.redbutton:hover .left{
  background-position: 0 -99px;
}
.redbutton:hover .center{
  background-position: 0 -132px;
}
.redbutton:hover .right{
  background-position: 0 -165px;
}